* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3b5998; /* Facebook Blue */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60vw;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 2rem;
    color: #3b5998; /* Facebook Blue */
}

#url {
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #3b5998; /* Facebook Blue */
    width: 60%;
    font-size: 16px;
    outline: none;
}

#url::placeholder {
    text-align: center;
    font-size: 14px;
}

button {
    padding: 15px;
    width: 40%;
    border-radius: 8px;
    border: none;
    background-color: #3b5998; /* Facebook Blue */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#result {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    color: #3b5998; /* Facebook Blue */
    text-align: center;
}

a {
    color: #3b5998; /* Facebook Blue */
    text-decoration: none;
    font-weight: bold;
}

p {
    color: #666;
    font-size: 14px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #url {
        width: 80%;
    }
    button {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    label {
        font-size: 1.5rem;
    }
    #url {
        width: 100%;
    }
    button {
        width: 60%;
    }
}
